<a href="https://colab.research.google.com/github/carvalheirafc/deep_learning_stuff/blob/master/diabetes/statistical_analysis/diabetes_pca_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

In [0]:
diabetes = pd.read_excel('diabetes_Ex1.xlsx')

In [5]:
diabetes = diabetes.drop(['Unnamed: 16'], axis=1)
diabetes = diabetes[:-8]
diabetes['C'] = pd.to_numeric(diabetes['C'])
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 17 columns):
A              768 non-null float64
B              768 non-null float64
C              768 non-null int64
D              768 non-null float64
E              768 non-null float64
F              768 non-null float64
G              768 non-null float64
H              768 non-null float64
I              768 non-null float64
J              768 non-null float64
K              768 non-null float64
L              768 non-null float64
M              768 non-null float64
N              768 non-null float64
O              768 non-null float64
P              768 non-null float64
Diagnóstico    768 non-null float64
dtypes: float64(16), int64(1)
memory usage: 102.1 KB

In [6]:
diabetes.describe()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Diagnóstico
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,70.178819,120.894531,69.105469,20.536458,79.799479,31.992578,53.938411,49.207031,0.472266,4.789583,4.789583,33.240885,64.813119,49.812500,26859.244792,1.348958
std,3.369578,15.006546,31.972618,19.355807,15.952218,115.244002,7.884160,21.747627,26.953146,0.332348,3.414410,3.414410,11.760232,21.843993,26.600453,1953.725176,0.476951
min,0.000000,22.666667,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000,0.100000,0.200000,0.200000,21.000000,19.677078,5.000000,23503.000000,1.000000
25%,1.000000,60.666667,99.000000,62.000000,0.000000,0.000000,27.300000,35.500000,26.000000,0.200000,2.000000,2.000000,24.000000,46.279601,26.000000,25147.000000,1.000000
50%,3.000000,69.666667,117.000000,72.000000,23.000000,30.500000,32.000000,48.000000,47.500000,0.400000,3.800000,3.800000,29.000000,59.168744,49.000000,26873.000000,1.000000
75%,6.000000,79.666667,140.250000,80.000000,32.000000,127.250000,36.600000,72.250000,72.250000,0.600000,7.000000,7.000000,41.000000,83.237983,72.000000,28534.500000,2.000000
max,17.000000,122.000000,199.000000,122.000000,99.000000,846.000000,67.100000,97.000000,97.000000,2.400000,18.600000,18.600000,81.000000,110.527749,97.000000,30241.000000,2.000000

In [23]:
x = diabetes.loc[:, diabetes.columns !='Diagnóstico'].values
print(x.shape)

y = diabetes.loc[:,['Diagnóstico']].values
print(y.shape)


x = StandardScaler().fit_transform(x)

(768, 16)
(768, 1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.639947,0.988291,0.848324,0.149641,0.907270,-0.692891,0.204013,-0.935811,-0.713073,0.384589,0.706414,0.706414,1.425995,-0.872551,-1.648132,-1.024990
1,-0.844885,-0.678734,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-1.239490,-0.824449,-0.217581,-0.876149,-0.876149,-0.190672,-1.309843,1.060353,0.405006
2,1.233880,0.810475,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,-1.409734,-1.269957,0.685675,1.351162,1.351162,-0.105584,-1.281982,1.737474,-0.085659
3,-0.844885,-0.723188,-0.998208,-0.160546,0.154533,0.123302,-0.494043,1.521230,1.403087,-0.819752,-0.993376,-0.993376,-1.041549,1.448520,-0.068182,-0.997333
4,-1.141852,0.032530,0.504055,-1.504687,0.907270,0.765836,1.409746,1.843314,1.662966,5.503039,-0.055561,-0.055561,-0.020496,1.873203,-1.460043,-0.990674

In [26]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)

principalComponents = pca.fit_transform(x)

principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

principalDf.head()

   principal component 1  principal component 2
0               2.050195               1.153252
1              -2.152559               1.739633
2               1.859978               2.879599
3              -2.052059              -2.349610
4               0.603904              -3.731473