<a href="https://colab.research.google.com/github/carvalheirafc/deep_learning_stuff/blob/master/results_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [45]:
results = pd.read_excel('Dados_Ex2.xlsx')
results.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 501 entries, (nan, nan) to (nan, nan)
Data columns (total 3 columns):
Target        500 non-null float64
Unnamed: 1    0 non-null float64
Resposta      500 non-null float64
dtypes: float64(3)
memory usage: 12.8 KB

In [46]:
results = results.drop(columns=['Unnamed: 1'])
results.reset_index(drop=True,inplace=True)
results.dropna(inplace=True)
results.head()

   Target  Resposta
1     0.0      0.30
2     0.0      0.20
3     1.0      0.28
4     1.0      0.88
5     0.0      0.50