<a href="https://colab.research.google.com/github/carvalheirafc/deep_learning_stuff/blob/master/statistical_analysis/diabetes/diabetes_fastIca_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.decomposition import FastICA

In [0]:
diabetes = pd.read_csv('diabetes.csv')
diabetes.describe()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Diagn√≥stico
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,70.159496,120.859192,69.101695,20.517601,79.903520,31.990482,53.964928,49.232073,0.472099,4.786441,4.786441,33.219035,64.837953,49.869622,26861.853977,1.348110
std,3.370877,15.006774,31.978468,19.368155,15.954059,115.283105,7.889091,21.749391,26.961792,0.332533,3.415526,3.415526,11.752296,21.847395,26.570635,1953.660640,0.476682
min,0.000000,22.666667,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000,0.100000,0.200000,0.200000,21.000000,19.677078,5.000000,23503.000000,1.000000
25%,1.000000,60.666667,99.000000,62.000000,0.000000,0.000000,27.300000,35.500000,26.000000,0.200000,2.000000,2.000000,24.000000,46.315422,26.000000,25149.500000,1.000000
50%,3.000000,69.666667,117.000000,72.000000,23.000000,32.000000,32.000000,48.000000,48.000000,0.400000,3.800000,3.800000,29.000000,59.246951,49.000000,26881.000000,1.000000
75%,6.000000,79.666667,140.000000,80.000000,32.000000,127.500000,36.600000,72.500000,72.500000,0.600000,7.000000,7.000000,41.000000,83.277928,72.000000,28536.000000,2.000000
max,17.000000,122.000000,199.000000,122.000000,99.000000,846.000000,67.100000,97.000000,97.000000,2.400000,18.600000,18.600000,81.000000,110.527749,97.000000,30241.000000,2.000000

In [0]:
X_values = diabetes.loc[:, diabetes.columns != 'Diagn√≥stico'].values
Y_target = diabetes['Diagn√≥stico']

print(X_values.shape, Y_target.shape)

(767, 16) (767,)

In [0]:
transformer = FastICA(n_components=2, random_state=10)
X_transformed = transformer.fit_transform(X_values)

diabetes_transformed = pd.DataFrame(X_transformed)
diabetes_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 2 columns):
0    767 non-null float64
1    767 non-null float64
dtypes: float64(2)
memory usage: 12.1 KB