<a href="https://colab.research.google.com/github/carvalheirafc/deep_learning_stuff/blob/master/statistical_analysis/diabetes/diabetes_fastIca_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.decomposition import FastICA
from sklearn.decomposition import PCA

In [16]:
diabetes = pd.read_csv('diabetes.csv')
diabetes.head()

,A,B,C,D,E,F,G,J,M,N,Diagn贸stico
0,6.0,85.000000,148,72.0,35.0,0.0,33.6,0.6,50.0,45.765525,2.0
1,1.0,60.000000,85,66.0,29.0,0.0,26.6,0.4,31.0,36.219544,1.0
2,8.0,82.333333,183,64.0,0.0,0.0,23.3,0.7,32.0,36.827749,2.0
3,1.0,59.333333,89,66.0,23.0,94.0,28.1,0.2,21.0,96.433981,1.0
4,0.0,70.666667,137,40.0,35.0,168.0,43.1,2.3,33.0,105.704700,2.0

In [18]:
X_values = diabetes.loc[:, diabetes.columns != 'Diagn贸stico'].values
Y_target = diabetes['Diagn贸stico']

print(X_values.shape, Y_target.shape)

(768, 10) (768,)

In [19]:
transformer = FastICA(random_state=10)
X_transformed = transformer.fit_transform(X_values)

diabetes_transformed = pd.DataFrame(X_transformed)
diabetes_transformed.head()

/usr/local/lib/python3.6/dist-packages/sklearn/decomposition/fastica_.py:121: ConvergenceWarning: FastICA did not converge. Consider increasing tolerance or the maximum number of iterations.
  ConvergenceWarning)

,0,1,2,3,4,5,6,7,8,9
0,-0.013434,0.008815,0.017009,0.051925,0.022246,0.040122,-0.000952,0.070024,-0.012345,-0.026711
1,0.038754,0.008588,0.005465,-0.010295,0.037991,0.039167,0.025393,0.014480,0.009053,-0.033657
2,-0.088334,-0.003993,0.012231,0.071915,0.038702,0.040137,-0.018693,-0.041402,-0.006351,0.007172
3,0.064046,-0.010925,-0.017661,-0.048510,-0.034209,-0.018800,-0.032829,-0.054197,-0.022985,-0.010024
4,0.011017,-0.198823,-0.065804,0.035661,-0.055721,-0.016028,0.048282,0.034125,-0.008147,0.012853