<a href="https://colab.research.google.com/github/carvalheirafc/deep_learning_stuff/blob/master/crashes_temporalseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
acidentes = pd.read_excel('Acidentes_de_Tr√¢nsito_Ex2.xlsx')
acidentes = acidentes.dropna()
acidentes.columns = ['Serie 1980-90','Meses','Obitos']

acidentes.drop(acidentes.index[:1], inplace=True)
acidentes.head()

  Serie 1980-90                Meses Obitos
2             1  1980-01-01 00:00:00    206
3             2  1980-02-01 00:00:00    201
4             3  1980-03-01 00:00:00    230
5             4  1980-04-01 00:00:00    201
6             5  1980-05-01 00:00:00    241

In [33]:
acidentes['Obitos'] = pd.to_numeric(acidentes['Obitos'])
acidentes['Serie 1980-90'] = pd.to_numeric(acidentes['Serie 1980-90']) 
acidentes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 2 to 121
Data columns (total 3 columns):
Serie 1980-90    120 non-null int64
Meses            120 non-null object
Obitos           120 non-null int64
dtypes: int64(2), object(1)
memory usage: 3.8+ KB